# Linguagem Utilizada para Desenvolver a Aplicação
language: python

# Versão que a aplicação suporta.
python:
  - "3.7.9"

dist: xenial
os: linux

before_install:
- openssl aes-256-cbc -K $encrypted_d5fbbef4628e_key -iv $encrypted_d5fbbef4628e_iv
  -in lab-devops-cloud-vitor-paiva-83882c5e6c62.json.enc -out ../lab-devops-cloud-vitor-paiva-83882c5e6c62.json
  -d

jobs:
  include:
    - stage: Build

      name: "Testes Unitarios"
      # Instalação de Módulos que são necessários para a Aplicação.
      install:
        - pip install flask flask-wtf coverage
      script:  # Defini o script de Teste que deve rodar toda vez que o código for alterado.
        - coverage run test.py || travis_terminate 1;
        - coverage report app.py || travis_terminate 1;
        - coverage xml app.py || travis_terminate 1;

    - stage: STG Deploy
      script: skip
      deploy:
        provider: heroku
        strategy: api
        api_key: $HEROKU_API_KEY
        edge: true
        app: devopslab-vitor-paiva
        on:
          branch: main

    - stage: STG TEST
      script:
        - curl https://devopslab-vitor-paiva.herokuapp.com/ | grep Hello || travis_terminate 1;

    - stage: PROD Deploy
      script: skip
      # Definir o Deploy no Google Cloud
      deploy:
        provider: gae
        keyfile: ../lab-devops-cloud-vitor-paiva-83882c5e6c62.json
        project: lab-devops-cloud-vitor-paiva
        on:
          branch: main

    - stage: PROD TEST
      script:
        - curl https://lab-devops-cloud-vitor-paiva.uc.r.appspot.com/ | grep Hello || travis_terminate 1;